{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/user/profile.css' %}">
    <div class="userinfo">
        <h2>Профіль користувача</h2>

        <img src="{% static 'img/avatar.png' %}" width="5%" alt="Аватар користувача">

        {# --- Дані з моделі CustomUser --- #}

        <p><strong>Ім'я користувача (логін):</strong> {{ request.user.username }}</p>
        <p><strong>Електронна пошта:</strong> {{ request.user.email }}</p>

        {% if request.user.full_name %}
            <p><strong>ПІБ:</strong> {{ request.user.full_name }}</p>
        {% endif %}

        {% if request.user.date_of_birth %}
            <p><strong>Дата народження:</strong> {{ request.user.date_of_birth|date:"d.m.Y" }}</p>
        {% endif %}

        {% if request.user.phone_number %}
            <p><strong>Контактний телефон:</strong> {{ request.user.phone_number }}</p>
        {% endif %}

        {% if request.user.gender %}
            <p><strong>Стать:</strong> {{ request.user.get_gender_display }}</p>
        {% endif %}

        <p><strong>Статус/роль:</strong> {{ request.user.get_status_display }}</p>

        {# --- Дані з успадкованої моделі AbstractUser --- #}
        <p><strong>Дата реєстрації:</strong> {{ request.user.date_joined|date:"d.m.Y H:i" }}</p>

        {% if request.user.last_login %}
             <p><strong>Останній вхід:</strong> {{ request.user.last_login|date:"d.m.Y H:i" }}</p>
        {% endif %}

        <br>
        <a class="active" href="{% url 'accounts:logout' %}">Вийти</a>
        <a class="active" href="{% url 'accounts:change_account_details' %}">Змінити дані</a>
    </div>

    <div class="userpetition">
        <h3>Ваші Тренування</h3>
        {# Тут буде логіка для відображення тренувань #}
    </div>
{% endblock %}