{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/user/register.css' %}">

    <form method="POST">
        {% csrf_token %}
        <div class="container">

            {# Django автоматично пройдеться по всіх полях, визначених у формі #}
            {% for field in form %}
                <div class="form-group mb-3">
                    {{ field.label_tag }}  {# Виводить <label> для поля #}
                    {{ field }}            {# Виводить саме поле вводу (input, select, etc.) #}

                    {# Показуємо помилки, якщо вони є для цього поля #}
                    {% for error in field.errors %}
                        <div class="alert alert-danger mt-1">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}

            {# Виводимо загальні помилки форми (не прив'язані до конкретного поля) #}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                     <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}

            <button type="submit">Зареєструватися</button>
        </div>
    </form>

    <div class="container" style="background-color:#f9f9f9">
        <a href="{% url 'accounts:login' %}" class="reg-link">Вже є акаунт? Увійти</a>
        <button type="button" class="cancel" onclick="window.location.href='/'">Назад</button>
    </div>
{% endblock %}