{% extends "base.html" %}
{% block content %}
    <form method="POST">
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/user/register.css' %}">
        {% csrf_token %}
        <div class="container">
            <label for="username"><b>Ім'я користувача</b></label>
            {{ form.username }}
            {% for error in form.username.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            <label for="email"><b>Електронна пошта</b></label>
            {{ form.email }}
            {% for error in form.email.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            <label for="password1"><b>Пароль</b></label>
            {{ form.password1 }}
            {% for error in form.password1.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            <label for="password2"><b>Підтвердження пароля</b></label>
            {{ form.password2 }}
            {% for error in form.password2.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            <button type="submit">Зареєструватися</button>
        </div>
    </form>

    <div class="container" style="background-color:#f9f9f9">
        <a href="{% url 'users:login' %}" class="reg-link">Вхід</a>
        <button type="button" class="cancel" onclick="window.location.href='/'">Назад</button>
    </div>
{% endblock %}
