<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProstoPetition</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    <style>
    </style>
</head>
<body>
    <h1>
        <img src="{% static 'img/mainLogo.png' %}" width="5%" alt="Logo">
        ProstoPetition - Електронні петиції
    </h1>
    <h2>
        <div class="imgcontainer">
          <img src="{% static 'img/avatar.png' %}" width="5%" alt="Avatar" />
        </div>

            <h1>Реєстрація Успішна</h1>
        <button type="button" onclick="window.location.href='/'">На головну</button>


</body>
</html>
